// Import Bulma utilities first
// @use "../node_modules/bulma/sass/utilities/initial-variables" as *;
// @use "../node_modules/bulma/sass/utilities/functions" as *;

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with (
  $family-primary: '"Poppins", sans-serif',
  $text: #000000,
  $link: #FC221C,
  $primary: #40140F,
  $info: #F8DFDB,
  $danger: #FC221C ,
  $success: #F8DFDB,
  $warning: #FC221C,
  $dark: #000000,
  $light: #FFFFFF
);

// Import the rest of Bulma
@use "../node_modules/bulma/bulma" as *;

// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

